
/* SKOS Importer admin overview form. */
table.skos-importer-admin-importers thead th {
  border: none;
  }
table.skos-importer-admin-importers td.disabled {
  color: #aaa;
  }
table.skos-importer-admin-importers tr.disabled.odd,
table.skos-importer-admin-importers tr.disabled.even {
  border-color: #eee;
  }
table.skos-importer-admin-importers tr.disabled.odd {
  background-color: #f5f5f5;
  }

/* SKOS Importer edit form layout. */
div.skos-importer-settings {
  }
div.left-bar {
  float: left;
  position: relative;
  width: 240px;
  border-right: 1px solid #DDD;
  padding: 10px 10px 0 0;
  }
div.configuration {
  padding: 10px 0 0 250px;
  margin-left: -240px;
  }
  div.configuration-squeeze {
    margin-left: 250px;
    }

/* Container theming. */
div.skos-importer-container {
  }
div.skos-importer-container h4 {
  font-size: 1.2em;
  font-weight: bold;
  }
div.skos-importer-container.plain {
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
  border-top: 2px solid #DDD;
  padding: 5px;
  margin: 10px 0;
  }
  div.skos-importer-container.plain h4 {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
    }
  div.skos-importer-container-body p {
    padding: 5px 0;
    margin: 0;
    }
  div.skos-importer-container-body div.item-list ul {
    margin: 0;
    }
    div.skos-importer-container-body div.item-list ul li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-image: none;
      }
  ul.container-actions {
    font-family: Arial, Helvetica;
    float: right;
    margin: 0;
    }
    ul.container-actions li {
      list-style-type: none;
      text-align: right;
      background-image: none;
      margin: 0;
      padding: 0;
      }
      ul.container-actions .form-item,
      ul.container-actions li form,
       ul.container-actions li form input {
        padding: 0;
        margin: 0;
        display: inline;
        }

/* Mapping form. */
#center table form {
  margin: 0;
  }
